<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menu</title>
	<link href="https://fonts.googleapis.com/css?family=Inter:400,800,900&display=swap" rel="stylesheet">
  	<link rel="stylesheet" href="css/estilo.css">
</head>
<body>
	<div class="container-menu">
	    <nav class="nav-menu">
	      <ul>
	        <li class="navMenu"><a href="../index.html">Home</a></li>
	        <li class="navMenu"><a href="#">Menu</a></li>
	        <li class="navMenu"><a href="#">Nosotros</a></li>
	        <li class="navMenu"><a href="#">Contacto</a></li>
	      </ul>
	    </nav>
	    <main class="main-menu">
	      <img class="logo-menu" src="../assets/img/logo.png" alt="logo-menu">
	    </main>
	    <div class="content1-menu">
	      <h2>Entradas</h2>
	      <ul>
	      	<li>Empanada de carne</li>
	      	<li>Chorizo</li>
	      	<li>Morcilla</li>
	      	<li>Salchicha parrillera</li>
	      	<li>Milanesitas de muzza</li>	
	      </ul>
	    </div>
	    <div class="content2-menu">
	    	<h2>Parrilla</h2>
	    	<ul>
	    		<li>Chinchulines</li>
	    		<li>Riñoncitos</li>
	    		<li>Mollejas</li>
	    		<li>Asado</li>
	    		<li>Vacio</li>
	    	</ul>
	    </div>
	    <div class="content3-menu">
	    	<h2>Postres</h2>
	    	<ul>
	    		<li>Budin de pan</li>
	    		<li>Flan casero</li>
	    		<li>Frambuesas c/ helado</li>
	    		<li>Mousse de chocolate</li>
	    		<li>Sufle de banana</li>
	    	</ul>
	    </div>
	    <footer class="footer-menu">
	      <h2>Logo</h2>
	      <h2>Redes Sociales</h2>
	      <h2>Contacto</h2>
	    </footer>
  </div>
</body>
</html>